html {
    background-color: cornflowerblue;
}

h1{
    background-color: crimson;
}

h2{
    background-color: darkgoldenrod;
}
ol{
    background-color: darksalmon;
}
p{
    background-color: deeppink;
}
.p2{
    background-color: gold;
}